* {
  margin: 0;
}
.calendar_box {
  display: flex;
  flex-direction: column;

  /* animation: 0.7s ease-in-out loadEffect; */
}
.menu_bar {
  display: flex;
  justify-content: center;
  background-color: #48b1fb;
  height: 50px;
  width: 100%;
}
.menu_bar .menu_title,
.menu_bar .menu_today {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.menu_bar .menu_title {
  margin: auto;
}
.menu_bar .menu_today {
  margin: auto 7px auto auto;
}
.menu_bar .ico_home a {
  color: white;
  height: 100%;
}
.home {
  background-image: url("../images/home.png");
}
.cal_body {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.cal_header {
  display: flex;
  flex-direction: column;
}
.cal_head {
  display: flex;
  font-size: 13px;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: #f8fcff;
}
.calendar_date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 30px;
  border: 1px solid rgb(211, 224, 238);
}

div.cal_list_item.date-notThisMonth {
  color: gray;
}
.cal_list_item.selected {
  background-color: rgb(239, 250, 253);
}
div.cal_list_item.date-sun {
  color: red;
}
div.cal_list_item.date-sat {
  color: blue;
}
/* div.cal_list_item:hover {
  background-color: rgb(253, 253, 216);
} */
div.cal_list_item {
  margin: 0 auto;
  height: 60px;
  width: 100%;
  background-color: white;
  border: 0.2px solid rgb(231, 231, 231);
}
.header_box {
  margin: 0 auto;
}
.cal_list_item td:hover {
  background-color: rgb(253, 253, 216);
}
.calendar_list_box:hover {
  background-color: rgb(235, 235, 235);
}
.calendar_list_box {
  animation: 0.7s ease-in-out loadEffect;
}
.cal_title {
  display: flex;
  font-size: 22px;
  font-weight: 350;
  color: rgb(182, 182, 182);
  width: 100%;
  background-color: white;
  margin: 0 auto;
}
.cal_detail {
  display: flex;
  flex-direction: column;
}
.cal_detail_title {
  display: flex;
}
.cal_detail_contents {
  margin: 5px 0 5px 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.cal_detail .cal_detail_title .selectedDate {
  font-weight: 500;
  margin: 0 10px 0 10px;
}
.cal_detail .cal_detail_title .selectedDate_contents {
  font-weight: 500;
  margin: 0 10px 0 10px;
}

/* 캘린더 이전, 다음 월 버튼 */
.prevBtn {
  height: 25px;
  margin: 0px 12px 0 12px;
}

.nextBtn {
  height: 25px;
  margin: 0px 12px 0 12px;
}
.calendar_header {
  color: rgb(102, 102, 102);
}

.btn_home {
  margin: 5px auto 5px 0;
}
.menu_bar a {
  text-decoration: none;
}
.prev_month_btn:hover,
.next_month_btn:hover {
  color: gray;
}
.current_month:hover {
  color: gray;
}

/* 캘린더 등록 버튼 */
.addCalendar {
  font-size: 31px;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  float: right;
  position: fixed;
  right: 16px;
  bottom: 24px;
  border-radius: 50px;
  background-color: #48b1fb;
  box-shadow: 2px 2px 5px 0px #b5b5b5;
}
.editable_btn {
  font-size: 31px;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;

  border-radius: 50px;
  background-color: #48b1fb;
  box-shadow: 2px 2px 5px 0px #b5b5b5;
}

.editable_box {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 16px;
  bottom: 24px;
}

.schedule_name input {
  width: 60%;
  height: 34px;
}

/* 캘린더 날짜 리스트 CSS */

/* 일요일 */
.cal_list_item .item_0 {
  color: red;
  font-weight: 500;
}
/* 토요일 */
.cal_list_item .item_6 {
  color: blue;
  font-weight: 500;
}
.cal_body_box {
  margin: 9px 16px 9px 16px;
}
.start_date input {
  height: 34px;
}
.start_time input {
  height: 34px;
}
.end_date input {
  height: 34px;
}
.end_time input {
  height: 34px;
}
.attendence_name input {
  height: 34px;
}
.shcedule_txtarea textarea {
  height: 140px;
  width: 100%;
}

/** 캘린더 일정등록 팝업 ***/
.add_box {
  position: absolute;
  background-color: white;
  height: 100%;
  z-index: 1;
  width: 100%;
}

.calendar_add_box {
  display: flex;
  background-color: white;
  flex-direction: column;
}

.cal_add_header .menu_bar {
  display: flex;
  flex-direction: row;
}
.cal_add_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: 1s ease-in-out loadEffect;
}
.schedule_name,
.shcedule_start,
.shcedule_end,
.shcedule_attendence,
.shcedule_contents {
  display: flex;
  margin: 5px 10px 5px 10px;
}
.cal_add_ico_cancel {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.cal_add_confirm_btn {
  font-size: 20px;
  color: white;
  margin-top: auto;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: auto;
}
.sch_title,
.sch_st_title,
.sch_ed_title,
.sch_atd_title {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
}
.sch_input_txt {
  width: 80%;
}
.sch_input_txt input {
  width: 94%;
}
.attendence_name {
  width: 80%;
}
.attendence_name input {
  width: 94%;
}
.shcedule_contents {
  width: 90%;
}
.shcedule_txtarea {
  width: 100%;
}
.start_date,
.start_time {
  width: 40%;
}

.start_date input,
.start_time input {
  width: 90%;
}

.end_date,
.end_time {
  width: 40%;
}
.end_date input,
.end_time input {
  width: 90%;
}
.cal_add_body input {
  border: 1px solid gray;
  border-radius: 5px;
}
.cal_add_body textarea {
  border: 1px solid gray;
  border-radius: 5px;
}

/* 캘린더 수정 화면 */
.calendar_modify_box {
  display: flex;
  background-color: white;
  flex-direction: column;
}
.modify_box {
  position: absolute;
  background-color: white;
  height: 100%;
  z-index: 1;
  width: 100%;
}

/* 캘린더 메뉴 오늘 버튼 */
.today_btn button {
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
}
.today_btn button:hover {
  background: rgb(214, 214, 214);
  border: 1px solid gray;
  border-radius: 4px;
}

/*new calendar */
.header_box {
  display: flex;
}
.calendar_week_header {
  display: flex;
}
.calendar_week {
  display: flex;
}
/* 
@media screen and (min-width:100px) {
    .test{font-size: 50px;
      color:red;
    }
  }
@media screen and (max-width:800px){
    .test{
        font-size:10px;
        color:blue;
    }
  } */
@media screen and (min-width: 800px) {
  div.cal_list_item {
    height: 100px;
  }
}
@media screen and (min-width: 1200px) {
  div.cal_list_item {
    height: 105px;
  }
}

@keyframes loadEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
